/* General Things Needed on each page */
a {
    text-decoration: none;
}

#calendar {
    float: right;
    max-width: 700px;
    margin: 5% auto;
    margin-right: 5%
}

.background
{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    background: rgba(247, 247, 242, 0.1);
    z-index: 1;
}

.backgroundLoginSignup {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    background: rgba(247, 247, 242, 0.1);
    z-index: 1;
    background-image: url("/pages/images/curlers.jpeg");
    background-size: cover;
}

.darkenbackground {
    position: relative;
    background: rgba(0, 0, 0, 0.9);
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 2;
}

.styled-select select
{
    background: transparent;
    float: left;
    width: 155px;
    padding: 3px;
    margin-left: 1.5%;
    margin-bottom: 4%;
    font-size: 14px;
    color: #8C979E;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

.styled-select2 select {
    background: transparent;
    float: left;
    width: 150px;
    padding: 3px;
    margin-left: 1.5%;
    margin-bottom: 3%;
    font-size: 14px;
    color: #8C979E;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

select.minimal:focus {
    background-image: linear-gradient(45deg, green 50%, transparent 50%), linear-gradient(135deg, transparent 50%, green 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    border-color
}

.hide {
    display: none;
}

.show {
    display: block;
}

.saveButton {
    float: right;
    height: 30px;
    color: #FFF;
    margin-right: 3%;
    font-weight: 700;
    font-size: 16px;
    background-color: #ffa500;
    margin-top: 7px;
    border: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    line-height: 24px;
    margin-left: 4%;
    width: 300px;
}


/* Booking Appointment */
.addAppointment {
    display: block;
    width: 40%;
    margin: 0 auto;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 10;
    background: #DDD;
    opacity: 2;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 17px;
    color: #000;
    padding: 1% 0% 2% 6%;
    border: 5px solid rgba(20, 20, 20, 1);
    box-shadow: 0px 61px 400px 400px rgba(0, 0, 0, 0.87);
    border-radius: 5px;
}

.bookAppointmentButton {
    height: 30px;
    width: 105%;
    float: left;
    color: #FFF;
    font-weight: 700;
    font-size: 16px;
    background: #ffa500;
    margin-top: 7px;
    margin-right: 3%;
    border: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    line-height: 24px;
    margin-bottom: 2%;
}

.cancelAppointmentButton {
    height: 30px;
    float: left;
    color: #FFF;
    font-weight: 700;
    font-size: 16px;
    background: #ffa500;
    margin-top: 7px;
    margin-right: 3%;
    border: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    line-height: 24px;
    margin-bottom: 2%;
}

.bookAppointmentHeader {
    margin-left: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    line-height: 24px;
    color: #809191;
}

.selectHairstyleImage {
    height: 100px;
    width: 100px;
}

.textareaStyle {
    width: 105%;
    height: 55%;
    resize: none;
}


/* Event Info Popup */
.eventInfo {
    margin: 2%;
}

.eventTitle {
    display: block;
    font-weight: 400;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    line-height: 48px;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 2%;
    top: 30%;
    left: 20%;
    text-decoration: none;
    color: #ffa500;
}

.eventEtc {}

.galleryBar {
    margin-top: 3%;
    list-style-type: none;
    margin-bottom: 0%;
    padding: 0;
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    background-color: #f5f5f5;
    z-index: 2;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    overflow: auto;
    background-color: #D2D8D8;
    width: 100%;
}

.gallery {}


/* Toolbar */
.toolbarLogo {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 45px;
    width: 45x;
    z-index: 2;
}

.toolbar__wrapper {
    list-style-type: none;
    margin-bottom: 2%;
    padding: 0;
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    background-color: white;
    z-index: 2;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
}

.toolbar__wrapper li {
    float: left;
}

.toolbar__wrapper li a.active {
    background: #FFF;
    color: #333;
}

.toolbar__wrapper li a {
    display: block;
    color: #809191;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    background: #f0f0f0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    line-height: 24px;
}

.toolbar__wrapper li a:hover {
    background-color: #ffc966;
}

.toolbar__wrapper li:last-child {
    float: right;
}

.searchbar {
    margin-top: 4px;
    margin-left: 5px;
    padding: 12px 20px 12px 60px;
    height: 25px;
    background-image: url("/pages/images/search.png");
    background-repeat: no-repeat;
}


/* Side Panel */
.sidepanel__wrapper {
    position: fixed;
    top: 10%;
    float: left;
    background-color: white;
    height: 100%;
    width: 20%;
    z-index: 10;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
}

.sidepanel__wrapper label {
    color: #809191;
}

.sidepanel__wrapper button {
    background: #D2D8D8;
}

.sidepanel__wrapper button:hover {
    background-color: #ffc966;
}


/* Manager View Page */
.employee_wrapper {
    display: block;
    background: #FFF;
    position: relative;
    left: 7.5%;
    max-width: 80%;
    width: 80%;
    height: 80%;
    border-radius: 4px;
    padding: 3% 1% 1% 1%;
    background-size: 90% 90%;
    overflow: auto;
}

.employeeName {
    display: block;
    font-weight: 400;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    line-height: 48px;
    margin-top: 3%;
    margin-bottom: 7%;
    margin-left: 5%;
    top: 30%;
    left: 20%;
    text-decoration: none;
}

.employeeProfile {
    display: block;
    width: 100px;
    height: 100px;
}

.employeeWriteUp {
    float: left;
    margin-left: 2%;
    border: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 11px;
    cursor: pointer;
    line-height: 24px;
    color: #FFF;
}

.employeeInfo {
    position: relative;
    height: 250px;
    width: 250px;
    background-color: #706966;
    color: #ffa500;
    text-decoration: none;
}

.employeeInfo:hover {
    background-color: #ffc966;
    color: #FFF;
}

.iconAlert {
    position: relative;
    float: right;
    width: 10%;
    height: 10%;
}

.approve {
    height: 30px;
    float: left;
    color: #FFF;
    width: 32%;
    font-weight: 700;
    font-size: 16px;
    background-color: #ffa500;
    margin-top: 7px;
    border: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    line-height: 24px;
    margin-top: 10%;
    margin-left: 10%;
}

.decline {
    height: 30px;
    float: left;
    color: #FFF;
    width: 32%;
    margin-right: 3%;
    font-weight: 700;
    font-size: 16px;
    background-color: #809191;
    ;
    margin-top: 7px;
    border: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    line-height: 24px;
    margin-left: 4%;
    margin-top: 10%;
}


/* Manager Calendar */
.dropdown {
    position: relative;
    transform: translateY(-50%);
}

a {
    color: #8C979E;
}

.dropdown dd, .dropdown dt {
    margin-left: 5%;
    margin-bottom: 7%;
    padding: 0px;
}

.dropdown ul {
    margin: -1px 0 0 0;
}

.dropdown dd {
    position: relative;
}

.dropdown a, .dropdown a:visited {
    color: #8C979E;
    text-decoration: none;
    outline: none;
    font-size: 12px;
}

.dropdown dt a {
    background-color: #4F6877;
    display: block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border: 0;
    width: 272px;
    background: transparent;
    float: left;
    width: 155px;
    padding: 3px;
    margin-left: 1.5%;
    font-size: 12px;
    color: #8C979E;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

.dropdown dt a span, .multiSel span {
    cursor: pointer;
    display: inline-block;
    padding: 0 3px 2px 0;
}

.dropdown dd ul {
    background-color: #FFF;
    border: 0;
    color: #8C979E;
    display: none;
    left: 0px;
    padding: 2px 15px 2px 5px;
    position: absolute;
    top: 2px;
    width: 280px;
    list-style: none;
    height: 100px;
    overflow: auto;
}

.dropdown span.value {
    display: none;
}

.dropdown dd ul li a {
    padding: 5px;
    display: block;
}

.dropdown dd ul li a:hover {
    background-color: #fff;
}


/* Add Stylist Page */
.addStylist {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    background: rgba(0, 0, 0, 0.1);
    background-size: 100% 100%;
    z-index: 1;
}

.addStylist::after {
    clear: both;
    content: "";
    display: table;
}

.addStylist__wrapper {
    display: block;
    background: #FFF;
    position: relative;
    float: left;
    top: -10%;
    left: 10%;
    max-width: 80%;
    width: 80%;
    border-radius: 4px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    margin: 10% auto;
    padding: 0% 1% 1% 1%;
}

.addStylist__container {
    overflow: hidden;
    width: 100%;
}

.addStylist__container::after {
    clear: both;
    content: "";
    display: table;
}

.addStylist__heading {
    text-align: center;
    padding: 12px 0 12px 0;
}

.addStylist__heading-subtitle {
    display: block;
    font-weight: 400;
    font-size: 15px;
    color: #888;
    line-height: 48px;
}

.addStylist__title {
    display: block;
    font-weight: 400;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color: #ffa500;
    line-height: 48px;
}

.addStylist__form {
    border-top: 1px solid #e5e5e5;
}


/* Customer Profile Page */
.customerName {
    position: relative;
    display: block;
    font-weight: 400;
    float: right;
    left: -30%;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color: #ffa500;
    line-height: 48px;
    margin-bottom: 3%;
    margin-left: 5%;
    top: 45%;
}

.customerImage {
    position: relative;
    margin-left: 2%;
    top: -25%;
    width: 45%;
    height: 45%;
}

.customerLocation {
    position: relative;
    top: -56px;
    left: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 11px;
    cursor: pointer;
    line-height: 24px;
    color: #D2D8D8;
}

.customerDependent {
    position: relative;
    top: -50px;
}

.scheduleButton {
    height: 30px;
    float: left;
    color: #FFF;
    width: 32%;
    font-weight: 700;
    font-size: 16px;
    background-color: #ffa500;
    margin-top: 7px;
    border: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    line-height: 24px;
    margin-left: 10%;
}

.customerGalleryUpload {
    color: #FFF;
    width: 32%;
    font-weight: 700;
    font-size: 16px;
    background-color: #ffa500;
    border: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    line-height: 24px;
}


/* Stylist Profile Page */
.addPhoto {
    padding: 2% 2% 2% 2%;
    border: 1px solid #e5e5e5;
}

.edit__wrapper {
    position: relative;
    float: right;
}

.edit__wrapper:hover {
    background-color: #ffc966;
}

.editPic__wrapper {
    position: relative;
    top: -20%;
    float: right;
    display: none;
    background-color: #ffc966;
}

.edit {
    width: 50%;
    height: 50%;
}

.edit:hover {
    cursor: pointer;
}

.deletePhoto {
    position: absolute;
    top: 0%;
    left: 25%;
    float: right;
    display: none;
    cursor: pointer;
    background-color: #ffc966;
}

.delete {
    width: 60%;
    height: 60%;
}

.save {
    height: 20px;
    float: right;
    color: #FFF;
    width: 8%;
    font-weight: 700;
    font-size: 12px;
    background: #ffa500;
    margin-top: 7px;
    margin-right: 3%;
    border: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    line-height: 15px;
}

.stop {
    height: 20px;
    float: right;
    color: #FFF;
    width: 8%;
    font-weight: 700;
    font-size: 10px;
    background: #809191;
    ;
    margin-top: 7px;
    border: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    line-height: 15px;
}


/* The Modal (Background) */
.popup__wrapper {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 300px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


/* Modal Content */
.popup__content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    top: -30%;
    border: 1px solid #888;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    line-height: 24px;
    border: 3px solid #e5e5e5;
    border-radius: 4px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    position: relative;
}


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.stylemod__title {
    position: relative;
    display: block;
    font-weight: 400;
    float: right;
    left: -35%;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color: #ffa500;
    line-height: 48px;
    margin-bottom: 3%;
    margin-left: 5%;
    top: 45%;
}

.stylistImage {
    position: relative;
    margin-left: 2%;
    top: -25%;
    width: 45%;
    height: 45%;
}

.stylistSpecialties {
    position: relative;
    top: -55px;
    float: right;
    left: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    line-height: 24px;
}

.stylistLocation {
    position: relative;
    top: -40px;
    left: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 11px;
    cursor: pointer;
    line-height: 24px;
    color: #D2D8D8;
}

.stylemodbar__wrapper {
    margin-top: 3%;
    list-style-type: none;
    margin-bottom: 0%;
    padding: 0;
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    background-color: #f5f5f5;
    z-index: 2;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

.stylemod__bar {
    float: left;
    background-color: #D2D8D8;
    width: 100%;
}

.stylemod__wrapper li {
    float: left;
}

.stylemod__wrapper li a.active, active {
    background: #FFF;
    color: #333;
}

.stylemod__wrapper li a, unactive {
    display: block;
    color: #809191;
    text-align: center;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    background: #D2D8D8;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    line-height: 24px;
}

.stylemod__wrapper li a:hover {
    background-color: #ffc966;
}

.stylemod__wrapper {
    display: block;
    background: #FFF;
    position: relative;
    left: 7.5%;
    max-width: 85%;
    border-radius: 4px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    padding: 3% 1% 1% 1%;
    background-size: 90% 90%;
    overflow: auto;
}

.stylemod__tab {
    overflow: auto;
}

.scrollable {
    position: absolute;
    height: 20%;
}

.stylemod__heading-subtitle {
    display: block;
    color: #809191;
    text-align: center;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    background: #D2D8D8;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    line-height: 24px;
}


/* Manager Profile Page */
.managerImage {
    position: relative;
    margin-left: 2%;
    width: 200px;
    height: 200px;
}

.managerSpecialties {
    position: fixed;
    top: 37%;
    left: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    line-height: 24px;
}

.managerLocation {
    position: fixed;
    top: 44%;
    left: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 11px;
    cursor: pointer;
    line-height: 24px;
    color: #D2D8D8;
}


/* Manager Settings Page */
.settings__wrapper {
    margin-left: 5px;
}

.settings__wrapper button:hover {
    background-color: #D2D8D8;
}

.settings__title {
    display: block;
    font-weight: 400;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color: #ffa500;
    line-height: 48px;
    margin-bottom: 3%;
    margin-left: 5%;
    top: 30%;
    left: 20%
}

.settings_label {
    font-weight: bold;
}

.settings_input {
    border: 2px solid #D2D8D8;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 5px;
    padding: 10px 15px;
    width: 80%;
}

.deleteButton {
    float: right;
    height: 30px;
    color: #FFF;
    margin-right: 3%;
    font-weight: 700;
    font-size: 16px;
    background-color: #809191;
    ;
    margin-top: 7px;
    border: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    line-height: 24px;
    margin-left: 4%;
    width: 300px;
}


/* Login SignUp Page */
.error {
    color: red;
    font-size: 12px;
}

.errorBorder {
    border-bottom: 1px solid red;
}

.errorBorderLong {
    border-bottom: 1px solid red;
}

.weak {
    color: red;
}

.good {
    color: green;
}

.veryGood {
    color: darkgreen;
}

.logmod {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    background: rgba(0, 0, 0, 0.1);
    background-image: url("/pages/images/curlers.jpeg");
    background-size: 100% 100%;
    z-index: 1;
    overflow: scroll;
}

.logmod::after {
    clear: both;
    content: "";
    display: table;
}

.logmod__wrapper {
    display: block;
    background: #FFF;
    position: relative;
    float: right;
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    margin: 3% auto 0 auto;
    padding: 0% 1% 1% 1%;
    overflow: scroll;
}

.logmod__container {
    overflow: scroll;
    width: 100%;
}

.logmod__container::after {
    clear: both;
    content: "";
    display: table;
}

.logmod__tab {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}

.logmod__tab-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.logmod__tab.show {
    opacity: 1;
    height: 100%;
    visibility: visible;
}

.logmod__tabs {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logmod__tabs::after {
    clear: both;
    content: "";
    display: table;
}

.logmod__tabs li.current a {
    background: #FFF;
    color: #333;
}

.logmod__tabs li a {
    width: 50%;
    position: relative;
    float: left;
    text-align: center;
    background: #D2D8D8;
    line-height: 10%;
    height: 10%;
    text-decoration: none;
    color: #809191;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.logmod__tabs li a:focus {
    outline: dotted 1px;
}

.logmod__tabs li a:hover {
    background-color: #ffc966;
}

.logmod__heading {
    text-align: center;
    padding: 12px 0 12px 0;
}

.logmod__heading-subtitle {
    display: block;
    font-weight: 400;
    font-size: 15px;
    color: #888;
    line-height: 15%;
}

.logmod__title {
    display: block;
    font-weight: 400;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color: #ffa500;
    line-height: 15%;
}

.logmod__form {
    border-top: 1px solid #e5e5e5;
}

.logmod__alter {
    display: block;
    position: relative;
    margin-top: 7px;
}

.logmod__alter::after {
    clear: both;
    content: "";
    display: table;
}

.logmod__alter .connect:last-child {
    border-radius: 0 0 4px 4px;
}

.connect {
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    height: 72px;
    line-height: 72px;
    text-decoration: none;
}

.connect::after {
    clear: both;
    content: "";
    display: table;
}

.connect:focus, .connect:hover, .connect:visited {
    color: #FFF;
    text-decoration: none;
}

.connect__icon {
    vertical-align: middle;
    float: left;
    width: 70px;
    text-align: center;
    font-size: 22px;
}

.connect__context {
    vertical-align: middle;
    text-align: center;
}

.simform {
    position: relative;
}

.simform__actions {
    padding: 15px;
    font-size: 14px;
}

.simform__actions::after {
    clear: both;
    content: "";
    display: table;
}

.simform__actions .sumbit {
    height: 48px;
    float: right;
    color: #FFF;
    width: 50%;
    font-weight: 700;
    font-size: 16px;
    background: #ffa500;
    margin-top: 7px;
}

.simform__actions .sumbit::after {
    clear: both;
    content: "";
    display: table;
}

.simform__actions-sidetext {
    display: inline-block;
    float: left;
    width: 40%;
    padding: 0 10px;
    margin: 9px 0 0 0;
    color: #8C979E;
    text-align: center;
    line-height: 24px;
}

.simform__actions-sidetext::after {
    clear: both;
    content: "";
    display: table;
}

.sminputs {
    border-bottom: 1px solid #E5E5E5;
}

.sminputs::after {
    clear: both;
    content: "";
    display: table;
}

.sminputs .input {
    display: block;
    position: relative;
    width: 50%;
    height: 71px;
    padding: 11px 24px;
    border-right: 1px solid #e5e5e5;
    border-bottom: none;
    float: left;
    background-color: #FFF;
    border-radius: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sminputs .input.active {
    background: #eee;
}

.sminputs .input.active .hide-password {
    background: #eee;
}

.sminputs .input.full {
    width: 100%;
}

.sminputs .input label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    line-height: 24px;
}

.sminputs .input input {
    postion: relative;
    display: inline-block;
    height: 5%;
    font-size: 15px;
    line-height: 19.2px;
    color: #555;
    border-radius: 4px;
    vertical-align: middle;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    color: rgba(75, 89, 102, 0.85);
}

.sminputs .input input {
    postion: relative;
    display: inline-block;
    height: 5%;
    font-size: 15px;
    line-height: 19.2px;
    color: #555;
    border-radius: 4px;
    vertical-align: middle;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    color: rgba(75, 89, 102, 0.85);
}

.sminputs .hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 2%;
    border-left: 1px solid #e4e4e4;
    font-size: 14px;
    background: #FFF;
    overflow: hidden;
    color: #444;
    cursor: pointer;
    margin-top: 12px;
    line-height: 48px;
}

.sminputsLarge {
    height: 5%;
    border-bottom: 1px solid #E5E5E5;
}

.sminputsLarge::after {
    clear: both;
    content: "";
    display: table;
}

.sminputsLarge .input {
    display: block;
    position: relative;
    width: 50%;
    height: 71px;
    padding: 11px 24px;
    border-right: 1px solid #e5e5e5;
    border-bottom: none;
    float: left;
    background-color: #FFF;
    border-radius: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sminputsLarge .input.active {
    background: #eee;
}

.sminputsLarge .input.active .hide-password {
    background: #eee;
}

.sminputsLarge .input.full {
    width: 100%;
}

.sminputsLarge .input label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    line-height: 24px;
}

.sminputsLarge .input input {
    postion: relative;
    display: inline-block;
    height: 5%;
    font-size: 15px;
    line-height: 19.2px;
    color: #555;
    border-radius: 4px;
    vertical-align: middle;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    color: rgba(75, 89, 102, 0.85);
}

.sminputsLarge .input input {
    postion: relative;
    display: inline-block;
    height: 5%;
    font-size: 15px;
    line-height: 19.2px;
    color: #555;
    border-radius: 4px;
    vertical-align: middle;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    color: rgba(75, 89, 102, 0.85);
}

.sminputsLarge .hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 2%;
    border-left: 1px solid #e4e4e4;
    font-size: 14px;
    background: #FFF;
    overflow: hidden;
    color: #444;
    cursor: pointer;
    margin-top: 12px;
    line-height: 48px;
}

html {
    font-size: 16px;
    line-height: 24px;
    font-family: "Lato", sans-serif;
    height: 100%;
    margin: auto;
    width: 480px;
}

.btn, .simform__actions .sumbit {
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    outline: none;
    outline-offset: 0;
    font-weight: 400;
    box-shadow: none;
    min-width: 90px;
    padding: 10px 14px;
}

.btn.full, .simform__actions .full.sumbit {
    width: 100%;
}

.btn.lg, .simform__actions .lg.sumbit {
    min-width: 125px;
    padding: 17px 14px;
    font-size: 22px;
    line-height: 1.3;
}

.btn.sm, .simform__actions .sm.sumbit {
    min-width: 65px;
    padding: 4px 12px;
    font-size: 14px;
}

.btn.xs, .simform__actions .xs.sumbit {
    min-width: 45px;
    padding: 2px 10px;
    font-size: 10px;
    line-height: 1.5;
}

.btn.circle, .simform__actions .circle.sumbit {
    overflow: hidden;
    width: 56px;
    height: 56px;
    min-width: 56px;
    line-height: 1;
    padding: 0;
    border-radius: 50%;
}

.btn.circle.lg, .simform__actions .circle.lg.sumbit {
    width: 78px;
    height: 78px;
    min-width: 78px;
}

.btn.circle.sm, .simform__actions .circle.sm.sumbit {
    width: 40px;
    height: 40px;
    min-width: 40px;
}

.btn.circle.xs, .simform__actions .circle.xs.sumbit {
    width: 30px;
    height: 30px;
    min-width: 30px;
}

.btn:focus, .simform__actions .sumbit:focus, .btn:active, .simform__actions .sumbit:active, .btn.active, .simform__actions .active.sumbit, .btn:active:focus, .simform__actions .sumbit:active:focus, .btn.active:focus, .simform__actions .active.sumbit:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
}

.btn.red, .simform__actions .red.sumbit {
    background: #f44336;
    color: #FFF;
}

.btn.red:active, .simform__actions .red.sumbit:active, .btn.red:focus, .simform__actions .red.sumbit:focus {
    background-color: #ef1d0d;
}

.btn.red:hover, .simform__actions .red.sumbit:hover {
    background-color: #f32c1e;
}

.btn.pink, .simform__actions .pink.sumbit {
    background: #E91E63;
    color: #FFF;
}

.btn.pink:active, .simform__actions .pink.sumbit:active, .btn.pink:focus, .simform__actions .pink.sumbit:focus {
    background-color: #c61350;
}

.btn.pink:hover, .simform__actions .pink.sumbit:hover {
    background-color: #d81558;
}

.btn.purple, .simform__actions .purple.sumbit {
    background: #9C27B0;
    color: #FFF;
}

.btn.purple:active, .simform__actions .purple.sumbit:active, .btn.purple:focus, .simform__actions .purple.sumbit:focus {
    background-color: #7b1f8a;
}

.btn.purple:hover, .simform__actions .purple.sumbit:hover {
    background-color: #89229b;
}

.btn.deep-purple, .simform__actions .deep-purple.sumbit {
    background: #673AB7;
    color: #FFF;
}

.btn.deep-purple:active, .simform__actions .deep-purple.sumbit:active, .btn.deep-purple:focus, .simform__actions .deep-purple.sumbit:focus {
    background-color: #532f94;
}

.btn.deep-purple:hover, .simform__actions .deep-purple.sumbit:hover {
    background-color: #5c34a4;
}

.btn.indigo, .simform__actions .indigo.sumbit {
    background: #3F51B5;
    color: #FFF;
}

.btn.indigo:active, .simform__actions .indigo.sumbit:active, .btn.indigo:focus, .simform__actions .indigo.sumbit:focus {
    background-color: #334293;
}

.btn.indigo:hover, .simform__actions .indigo.sumbit:hover {
    background-color: #3849a2;
}

.btn.blue, .simform__actions .blue.sumbit {
    background: #2196F3;
    color: #FFF;
}

.btn.blue:active, .simform__actions .blue.sumbit:active, .btn.blue:focus, .simform__actions .blue.sumbit:focus {
    background-color: #0c7fda;
}

.btn.blue:hover, .simform__actions .blue.sumbit:hover {
    background-color: #0d8aee;
}

.btn.light-blue, .simform__actions .light-blue.sumbit {
    background: #03A9F4;
    color: #FFF;
}

.btn.light-blue:active, .simform__actions .light-blue.sumbit:active, .btn.light-blue:focus, .simform__actions .light-blue.sumbit:focus {
    background-color: #028ac7;
}

.btn.light-blue:hover, .simform__actions .light-blue.sumbit:hover {
    background-color: #0398db;
}

.btn.cyan, .simform__actions .cyan.sumbit {
    background: #00BCD4;
    color: #FFF;
}

.btn.cyan:active, .simform__actions .cyan.sumbit:active, .btn.cyan:focus, .simform__actions .cyan.sumbit:focus {
    background-color: #0093a6;
}

.btn.cyan:hover, .simform__actions .cyan.sumbit:hover {
    background-color: #00a5bb;
}

.btn.teal, .simform__actions .teal.sumbit {
    background: #009688;
    color: #FFF;
}

.btn.teal:active, .simform__actions .teal.sumbit:active, .btn.teal:focus, .simform__actions .teal.sumbit:focus {
    background-color: #00685e;
}

.btn.teal:hover, .simform__actions .teal.sumbit:hover {
    background-color: #007d71;
}

.btn.green, .simform__actions .green.sumbit {
    background: #4CAF50;
    color: #FFF;
}

.btn.green:active, .simform__actions .green.sumbit:active, .btn.green:focus, .simform__actions .green.sumbit:focus {
    background-color: #3e8f41;
}

.btn.green:hover, .simform__actions .green.sumbit:hover {
    background-color: #449d48;
}

.btn.light-green, .simform__actions .light-green.sumbit {
    background: #8BC34A;
    color: #FFF;
}

.btn.light-green:active, .simform__actions .light-green.sumbit:active, .btn.light-green:focus, .simform__actions .light-green.sumbit:focus {
    background-color: #74a838;
}

.btn.light-green:hover, .simform__actions .light-green.sumbit:hover {
    background-color: #7eb73d;
}

.btn.lime, .simform__actions .lime.sumbit {
    background: #CDDC39;
    color: #FFF;
}

.btn.lime:active, .simform__actions .lime.sumbit:active, .btn.lime:focus, .simform__actions .lime.sumbit:focus {
    background-color: #b6c423;
}

.btn.lime:hover, .simform__actions .lime.sumbit:hover {
    background-color: #c6d626;
}

.btn.yellow, .simform__actions .yellow.sumbit {
    background: #FFEB3B;
    color: #FFF;
}

.btn.yellow:active, .simform__actions .yellow.sumbit:active, .btn.yellow:focus, .simform__actions .yellow.sumbit:focus {
    background-color: #ffe60d;
}

.btn.yellow:hover, .simform__actions .yellow.sumbit:hover {
    background-color: #ffe822;
}

.btn.amber, .simform__actions .amber.sumbit {
    background: #FFC107;
    color: #FFF;
}

.btn.amber:active, .simform__actions .amber.sumbit:active, .btn.amber:focus, .simform__actions .amber.sumbit:focus {
    background-color: #d8a200;
}

.btn.amber:hover, .simform__actions .amber.sumbit:hover {
    background-color: #edb100;
}

.btn.orange, .simform__actions .orange.sumbit {
    background: #FF9800;
    color: #FFF;
}

.btn.orange:active, .simform__actions .orange.sumbit:active, .btn.orange:focus, .simform__actions .orange.sumbit:focus {
    background-color: #d17d00;
}

.btn.orange:hover, .simform__actions .orange.sumbit:hover {
    background-color: #e68900;
}

.btn.deep-orange, .simform__actions .deep-orange.sumbit {
    background: #FF5722;
    color: #FFF;
}

.btn.deep-orange:active, .simform__actions .deep-orange.sumbit:active, .btn.deep-orange:focus, .simform__actions .deep-orange.sumbit:focus {
    background-color: #f33a00;
}

.btn.deep-orange:hover, .simform__actions .deep-orange.sumbit:hover {
    background-color: #ff4409;
}

.btn.brown, .simform__actions .brown.sumbit {
    background: #795548;
    color: #FFF;
}

.btn.brown:active, .simform__actions .brown.sumbit:active, .btn.brown:focus, .simform__actions .brown.sumbit:focus {
    background-color: #5c4137;
}

.btn.brown:hover, .simform__actions .brown.sumbit:hover {
    background-color: #694a3e;
}

.btn.grey, .simform__actions .grey.sumbit {
    background: #9E9E9E;
    color: #FFF;
}

.btn.grey:active, .simform__actions .grey.sumbit:active, .btn.grey:focus, .simform__actions .grey.sumbit:focus {
    background-color: #878787;
}

.btn.grey:hover, .simform__actions .grey.sumbit:hover {
    background-color: #919191;
}

.btn.blue-grey, .simform__actions .blue-grey.sumbit {
    background: #607D8B;
    color: #FFF;
}

.btn.blue-grey:active, .simform__actions .blue-grey.sumbit:active, .btn.blue-grey:focus, .simform__actions .blue-grey.sumbit:focus {
    background-color: #4d6570;
}

.btn.blue-grey:hover, .simform__actions .blue-grey.sumbit:hover {
    background-color: #566f7c;
}

.special {
    color: #f44336;
    position: relative;
    text-decoration: none;
    transition: all 0.15s ease-out;
}

.special:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0px;
    left: 0;
    background: #f00;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.special:hover {
    transition: all 0.15s ease-out;
}

.special:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

#baseline {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-image: url(http://basehold.it/i/24);
}